/* line 1, C:/Programming/Electron/Projects/neural-network/scss/default.scss */
* {
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  outline: none; }

/* line 8, C:/Programming/Electron/Projects/neural-network/scss/default.scss */
a {
  text-decoration: none; }

/* line 13, C:/Programming/Electron/Projects/neural-network/scss/default.scss */
nav ul {
  list-style: none; }
